[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
pylint = "*"
ipdb = "*" # HACK: https://github.com/pypa/pipenv/issues/4476
vcrpy = "*"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
celery = "*"
requests = "*"
psycopg2 = "*"
links-from-link-header = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
